language = "python3"
run = "python replit_run.py"

[nix]
channel = "stable-22_11"

[deployment]
run = ["python", "replit_run.py"]

[env]
PYTHONPATH = "$PYTHONPATH:."
DJANGO_SETTINGS_MODULE = "inventory_saas.settings"