[Unit]
Description=SupaWave Gunicorn daemon
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/var/www/supawave/backend
Environment="PATH=/var/www/supawave/venv/bin"
EnvironmentFile=/var/www/supawave/backend/.env
ExecStart=/var/www/supawave/venv/bin/gunicorn --workers 3 --bind 127.0.0.1:8000 inventory_saas.wsgi:application
Restart=always

[Install]
WantedBy=multi-user.target